body {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5px 0;
  text-align: center;
}

input {
  display: flex;
  flex-direction: column;
}

.big input {
  border: none;
  border-radius: 5px;
  padding: 1rem 10rem;
  outline: none;
  margin-bottom: 10px;
}

#selectOption {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

#btn {
  border: none;
  background: rgb(77, 198, 20);
  color: rgb(24, 69, 219);
  padding: 10px 20px;
  border: 2px solid white;
  margin-top: 10px;
  cursor: pointer;
}
